{%include 'header.html'%}

<body>
    <header class="p_header text-white text-align-md-left">
        <section>
            <h1 class="title ">uma seleção de produtos</h1>
            <h2 class="subtitle ">especial para você</h2>
            <h3 class="description ">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</h3>
        </section>

        <nav class="p_nav">
            <ul class="btn-group font-size-default">
                <li class="item"><a class="button" href="#">Conheça a Linx</a></li>
                <li class="item"><a class="button" href="#">Ajude o algorítimo</a></li>
                <li class="item"><a class="button" href="#">Seus produtos</a></li>
                <li class="item"><a class="button" href="#">Compartilhe</a></li>
            </ul>
        </nav>
    </header>
</body>



{%include 'footer.html'%}