.footer {
    padding: 158px 0 86px;
    background: #707070;
    background: linear-gradient(-3deg, #707070 71%, white 71.4%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer * {
    font-size: 12px;
}

.text-white {
    color: #fff;
}

.margin_ {
    margin: 0.25em;
}